@model LMSoft.CMS.Models.Customer
@using SXF.Utils;

@{
    if(Model.GID.IsNotNullAndEmpty())
    {
        ViewBag.Title = "客户修改";
    }
    else
    {
        ViewBag.Title = "客户添加";
    }
    
}
@{
    Layout = "_Customer.cshtml";
}
@section pageStyle{


}

<div class=" list">
    <div class="list-item padding">
        @using (Html.BeginForm(ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["Controller"].ToString(), FormMethod.Post, new { @class = "form-inline", id = "search_form", role = "form", style = "" }))
        {

            @Html.AntiForgeryToken()
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div>
                <div class="form-group col-md-12 margin-bottom-10">
                    <label class="col-sm-2 control-label">姓名</label>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group col-md-12 margin-bottom-10">
                    <label class="col-sm-2 control-label">手机/电话</label>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Phone, "", new { @class = "text-danger" })
                    </div>
                </div>
                 <div class="form-group col-md-12 margin-bottom-10">
                    <label class="col-sm-2 control-label">公司</label>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(m => m.CompanyName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.CompanyName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-12 margin-bottom-10">
                    <label class="col-sm-2 control-label">类别</label>
                    <div class="col-sm-10">

                        大类：<select name="level1" id="level1" class="prov select2-container" style="width: 200px;"> </select>
                        小类：<select name="level2" id="level2" class="city select2-container" style="width: 200px;"> </select>

                    </div>
                </div>


                <div class="form-group col-md-12 margin-bottom-10">
                    <label class="col-sm-2 control-label">意向度</label>
                    <div class="col-sm-4">
                        @Html.DropDownListFor(m => m.IntentionalityId, null, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.IntentionalityId, "", new { @class = "text-danger" })
                    </div>
                  
                </div>
               
                <div class="form-group col-md-12 margin-bottom-10">
                    <label class="col-sm-2 control-label">备注</label>
                    <div class="col-sm-4">
                        @Html.TextAreaFor(m => m.Mark,  new { @class = "form-control",style="width:300px;height:100px;" })
                        @Html.ValidationMessageFor(m => m.Mark, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group col-md-12 margin-bottom-10">
                    <input type="submit" value="保存" class="btn btn-primary btn-sm" id="ueForm" />
                    @Html.HiddenFor(m => m.GID)
                    <input type="hidden" name="refer" value="@RequestHelper.GetUrlReferrer()" />
                </div>
                <div class="form-group col-md-12 margin-bottom-10">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-6" style="color:red;font-size:15px;">
                        添加人：@Html.DisplayFor(m => m.CreateBy) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        添加日期：@Html.DisplayFor(m => m.CreateTime)
                    </div>
                </div>
            </div>
        }
    </div>

</div>

@section scripts{
    <script src="~/Scripts/app/shared/dialog/_PopupModal.js"></script> 
    <script src="~/Scripts/plugins/plupload/js/plupload.full.min.js"></script>
    <script src="~/Scripts/app/shared/uploadfile.js"></script>
    <script src="~/Scripts/app/appBase.js"></script>
    <script src="~/Scripts/app/admin/library/library.js"></script>
    <script type="text/javascript">
        $(function () {

            var level1 =@ViewBag.level1;
            var level2=@ViewBag.level2;
            $.post("/service/getcustomersortlist", { parent: 0 }, function (data) {
                $("#level1").select2({
                    data:data
                });
                //设置初始值
                if (level1 != -1)
                {
                    $("#level1").val(level1).trigger("change"); 
                }
                
                $.post("/service/getcustomersortlist", { parent: $("#level1").val() }, function (data) {
                    $("#level2").select2({
                        data: data
                    });
                    if (level2 != -1)
                    {
                        setTimeout($("#level2").val(level2).trigger("change"),1000); 
                    }
                    
                });
            });

            $("#level1").change(function () {
                console.info($("#level1").val());
                $.post("/service/getcustomersortlist", { parent: $("#level1").val() }, function (data) {
                    $("#level2").empty();
                    $("#level2").select2({
                        data: data
                    });
                    
                });
            });

        });

    </script>

}
<script type="text/html" id="tmpl_blank">
</script>




