@model LMSoft.CMS.ViewModels.DistributeOperatorViewModel
@using SXF.Utils;

@{

    ViewBag.Title = "分配任务";


}
@{
    Layout = "_Customer.cshtml";
}
@section pageStyle{


}

<div class=" list">
    <div class="list-item padding">
        @using (Html.BeginForm(ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["Controller"].ToString(), FormMethod.Post, new { @class = "form-inline", id = "search_form", role = "form", style = "" }))
        {

            @Html.AntiForgeryToken()
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div>
                <div class="form-group col-md-12 margin-bottom-10">
                    <label class="col-sm-2 control-label">起始编号</label>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(m => m.StartId, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.StartId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group col-md-12 margin-bottom-10">
                    <label class="col-sm-2 control-label">结束编号</label>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(m => m.EndId, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.EndId, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group col-md-12 margin-bottom-10">
                    <label class="col-sm-2 control-label">组员列表</label>
                    <div class="col-sm-10">

                       <select name="group" id="group" class="prov select2-container" style="width: 200px;" multiple="multiple"> </select>


                    </div>
                </div>


                <div class="form-group col-md-12 margin-bottom-10">
                    <input type="submit" value="分配" class="btn btn-primary btn-sm" id="ueForm" />
                    @Html.HiddenFor(m => m.Operators)
                </div>
            </div>
        }
    </div>

</div>

@section scripts{
    <script src="~/Scripts/app/shared/dialog/_PopupModal.js"></script>
    <script src="~/Scripts/plugins/plupload/js/plupload.full.min.js"></script>
    <script src="~/Scripts/app/shared/uploadfile.js"></script>
    <script src="~/Scripts/app/appBase.js"></script>
    <script src="~/Scripts/app/admin/library/library.js"></script>
    <script type="text/javascript">
        $(function () {
            var groupgid = "@ViewBag.admininfo.GroupGid";
            $.post("/service/GetOperatorsByGroup", { groupGid: groupgid }, function (data) {
                $("#group").select2({
                    data: data,
                    placeholder: '请选择',
                    allowClear: true
                });

            });

            $("#group").change(function () {
                if ($("#group").val() != null) {
                    //console.info($("#group").val());
                    $("#Operators").val($("#group").val());
                    //console.info($("#Groups").val());
                }

            })

        });

    </script>

}
<script type="text/html" id="tmpl_blank">
</script>




