@model PagedList.IPagedList<LMSoft.CMS.ViewModels.CustomerViewModel>
@using PagedList.Mvc;
@{
    ViewBag.Title = "我的添加";
    Layout = "_customer.cshtml";
}

@section pageStyle{
    <style>
        .collapse {
            display: block;
        }

        #dlgPopupModal .modal-dialog {
            width: 100%;
            max-width: 500px;
        }
    </style>
}

<div class=" list">
    <div class="list-header">
        @using (Html.BeginForm(ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["Controller"].ToString(), FormMethod.Post, new { @class = "form-inline", id = "search_form", role = "form", style = "" }))
            {
            @Html.AntiForgeryToken()


            <div class="col-xs-12 no-padding">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">

                        <div class="collapse navbar-collapse">
                            <ul class="nav navbar-nav">
                                <li class="">
                                    <input type="text" class="form-control  input-sm" id="name" name="name" placeholder="姓名或手机号" value="@ViewBag.name">&nbsp;&nbsp;
                                    &nbsp;&nbsp;大类：<select name="level1" id="level1" class="prov select2-container" style="width: 150px;"> </select>
                                    &nbsp;&nbsp;小类：<select name="level2" id="level2" class="prov select2-container" style="width: 150px;"> </select> 
                                </li>

                                <li>
                                    <div class="btn-group  navbar-right" role="group" aria-label="...">
                                        <button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-search"></i><strong>筛选</strong></button>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        }
    </div>

   
    <div class=" list-item padding">

        <table class="table table-bordered  table-striped">
            <thead>
                <tr>
                    <th class="nowrap">编号</th>
                    <th class="nowrap">手机</th>
                    <th class="nowrap">姓名</th>
                    <th class="nowrap">公司</th>
                    <th class="nowrap">类别</th>
                    @if (ViewBag.AdminInfo.RoleLevel > 0)
                    {
                        <th class="nowrap">主管</th>
                        <th class="nowrap">组长</th>
                        <th class="nowrap">话务员</th>
                    }
                    <th class="nowrap">意向</th> 
                    @if (ViewBag.AdminInfo.RoleLevel > 0)
                    {
                        <th class="nowrap">冻结</th>                        
                    }
                    else
                    {
                        <th class="nowrap">最后回访</th>
                    }
                    <th class="nowrap">成交</th>
                    <th class="nowrap">添加日期</th>
                    <th class="nowrap">操作</th>
                </tr>
            </thead>

            @foreach (var item in Model)
            {
                <tr class="">
                    <td class=" ">@item.IID</td>
                    <td class="tc phoneInfo">@(item.Phone)</td>
                    <td class="">@(item.Name)</td>
                    <td class="">@(item.CompanyName)</td>
                    <td class="thisSort">@(item.SortId)</td>
                    @if (ViewBag.AdminInfo.RoleLevel > 0)
                    {
                        <td class="thisAdmin">@item.Director</td>
                        <td class="thisAdmin">@item.GroupLeader</td>
                        <td class="thisAdmin">@item.AdminId</td>
                    }
                    <td class="thisIntentionnality">@item.IntentionalityId</td> 
                    @if (ViewBag.AdminInfo.RoleLevel > 0)
                    {
                        <td class=" ">@(item.Frozen ? "已冻结" : "未冻结")</td>                        
                    }
                    else
                    {
                        <td class="">@item.LastCustomerReviewMark</td>
                    }
                    <td class="">@(item.Dealed == 1 ? "已成交" : "未成交")</td>
                    <td class="">@(item.CreateTime)</td>
                    <td class="">
                       
                        <a href="javascript:;" data-iid="@item.IID" data-bind="click:QueryReview">查看回访</a>
                       
                    </td>
                </tr>
                <tr style="display:none;">
                    <td colspan="14">
                        <table class="table table-bordered">
                            <tr>
                                <th class="col-xs-2">回访人</th>
                                <th class="col-xs-4">备注</th>
                                <th class="col-xs-2">回访方式</th>
                                <th class="col-xs-2">时间</th>
                                <th class="col-xs-2">操作</th>
                            </tr>

                            @foreach (var subItem in item.CustomerReviewViewCollection)
                            {
                                <tr>
                                    <td class="col-xs-2 thisAdmin">@subItem.AdminId</td>
                                    <td class="col-xs-4">@subItem.Mark</td>
                                    <td class="col-xs-2 thisMode">@subItem.ReviewMode</td>
                                    <td class="col-xs-2">@subItem.CreateTime</td>
                                    <td class="col-xs-2"><a href="javascript:;" data-gid="@subItem.GID" data-bind="click:CustomerReviewDelete">删除</a></td>
                                </tr>
                            }
                        </table>
                    </td>
                </tr>
            }

        </table>
        @Html.PagedListPager(Model, page => Url.Action(ViewContext.RouteData.Values["action"].ToString(), new
   {
       name = ViewBag.name,
       level1 = ViewBag.level1,
       level2 = ViewBag.level2,
      
       pageIndex = page
   }),
            new PagedListRenderOptions
            {
                LinkToFirstPageFormat = "<span class='glyphicon glyphicon-fast-backward'></span>",
                LinkToPreviousPageFormat = "<span class='glyphicon glyphicon-backward'></span>",
                LinkToNextPageFormat = "<span class='glyphicon glyphicon-forward'></span>",
                LinkToLastPageFormat = "<span class='glyphicon glyphicon-fast-forward'></span>",
                DisplayPageCountAndCurrentLocation = true,
                PageCountAndCurrentLocationFormat = "当前第 {0} 页/共 {1} 页",
                DisplayItemSliceAndTotal = true,
                ItemSliceAndTotalFormat = "共{2}条记录,显示第{0}-{1}条"
            })

    </div>

</div>


@section scripts{
    <script src="~/Scripts/plugins/LMSoft/ko.popUp.js"></script>
    <script src="~/Scripts/app/shared/dialog/_PopupModal.js"></script>
    <script src="~/Scripts/plugins/LMSoft/ko.renderTemplateX.js"></script>
    <script src="~/Scripts/plugins/LMSoft/ko.select2 2.0.js"></script>
    <script src="~/Scripts/plugins/layer-v3.0.3/layer/layer.js"></script>
    <script src="~/Scripts/app/appBase.js"></script>
    <script src="~/Scripts/app/admin/Customer/Customer.js"></script>
    <script type="text/javascript">
         var level1 =@ViewBag.level1;
        var level2 =@ViewBag.level2;
        var ex = /^\d+$/;
        $(function () {
            $.post("/service/getcustomersortlist", { parent: 0 }, function (data) {
                data.unshift({ id: 0, text: "请选择" });
                $("#level1").select2({
                    data: data
                });
                if (level1 > 0) {
                    $("#level1").val(level1).trigger("change");
                    //console.info($("#level1").val());


                }
                else {
                    var arr = [];
                    arr.unshift({ id: 0, text: "请选择" });
                    $("#level2").select2({
                        data: arr
                    });
                }

            });


            $("#level1").change(function () {
                //console.info($("#level1").val());
                $.post("/service/getcustomersortlist", { parent: $("#level1").val() }, function (data) {
                    $("#level2").empty();
                    data.unshift({ id: 0, text: "请选择" });
                    $("#level2").select2({
                        data: data
                    });
                    if (level2 > 0) {
                        setTimeout($("#level2").val(level2).trigger("change"), 1000);
                        //console.info($("#level2").val());
                    }
                });
            });
            //类名加载
            $(".thisSort").each(function (index, item) {
                var $this = $(this);
                var text = $this.text().trim();
                $.post("/service/GetCustomerSortName", { iid: text }, function (data) {
                    $this.text(data);
                });
            });
            //管理员名加载
            $(".thisAdmin").each(function (index, item) {
                var $this = $(this);
                var text = $this.text().trim();
                $.post("/service/GetadminName", { adminId: text }, function (data) {
                    $this.text(data);
                });
            });
            //意向度加载
            $(".thisIntentionnality").each(function (index, item) {
                var $this = $(this);
                var text = $this.text().trim();
                $.post("/service/GetIntentionality", { iid: text }, function (data) {
                    $this.text(data);
                });
            });
            $(".thisReviewStatus").each(function (index, item) {
                var $this = $(this);
                var text = $this.text().trim();
                $.post("/service/Getreviewstatus", { status: text }, function (data) {
                    $this.text(data);
                });
            });
            $(".thisMode").each(function (index, item) {
                var $this = $(this);
                var text = $this.text().trim();
                if (ex.test(text)) {
                    // 则为整数
                    $.post("/service/GetReviewMode", { status: text }, function (data) {
                        $this.text(data);
                    });
                }

            });
           
            
            $(".phoneInfo").each(function (index) {
                var self = $(this);
                $.post("/service/GetPhoneAddressInfo", { phone: self.text() }, function (data) {
                    self.text(self.text() + "  " + data);
                });
            });
        });

      
    </script>
}
<script type="text/html" id="tmpl_blank">
</script>
<script type="text/html" id="tmpl_Recycle">
    <form class="form-horizontal" data-bind="with:RecycleVM">
        <div class="form-group">
            <label class="col-sm-3 control-label">登录名</label>
            <div class="col-sm-9">
                <input class="form-control" placeholder="输入话务员登录名" data-bind="value:username" />
            </div>
        </div>
    </form>
</script>
@Html.Partial("~/Views/Shared/dialog/_PopupModal.cshtml")




