@model PagedList.IPagedList<LMSoft.CMS.ViewModels.TaskViewModel>
@using PagedList.Mvc;
@{
    ViewBag.Title = "任务列表";
    Layout = "_customer.cshtml";
}

@section pageStyle{
    <style>
        .collapse {
            display: block;
        }
    </style>
}

<div class=" list">
    <div class="list-header">
        @using (Html.BeginForm(ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["Controller"].ToString(), FormMethod.Post, new { @class = "form-inline", id = "search_form", role = "form", style = "" }))
        {
            @Html.AntiForgeryToken()


            <div class="col-xs-12 no-padding">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">

                        <div class="collapse navbar-collapse">
                            <ul class="nav navbar-nav">
                                <li class="">
                                    <input type="text" class="form-control  input-sm" id="name" name="name" placeholder="手机，姓名" value="@ViewBag.name">&nbsp;&nbsp;
                                    任务完成度：&nbsp;&nbsp;<select id="complete" name="complete">
                                        <option value="-1"></option>
                                        <option value="0">未完成</option>
                                        <option value="1">已完成</option>
                                    </select>&nbsp;&nbsp;&nbsp;&nbsp;
                                    话务员：<select name="op" id="op" class="prov select2-container" style="width: 150px;"> </select>
                                </li>

                                <li>
                                    <div class="btn-group  navbar-right" role="group" aria-label="...">
                                        <button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-search"></i><strong>筛选</strong></button>
                                        <a href="javascript:;" class="btn btn-primary " style="margin-left:15px;height:30px;" data-bind="click:ExportToExcel">导出选定到Excel</a>
                                        <input type="hidden" name="taskmainiid" id="taskmainiid" value="@ViewBag.taskmainiid" />
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        }
    </div>

    <div>
        @if (ViewBag.AdminInfo.RoleLevel >= 2)  //表示是主管以上级别，派发任务给组长
        {
            @Html.ActionLink("创建任务", "ImportExcelToTask", null, new { @class = "btn btn-primary btn-sm", style = "float:right;margin-right:15px;margin:5px 15px;" })
            @Html.ActionLink("分配", "DistributeHeadman", null, new { @class = "btn btn-primary btn-sm", style = "float:right;margin-right:15px;margin:5px 15px;" })
        }
        else if (ViewBag.AdminInfo.RoleLevel == 1)   //表示是组长级别，派发任务给组员
        {
            @Html.ActionLink("分配", "DistributeOperator", null, new { @class = "btn btn-primary btn-sm", style = "float:right;margin-right:15px;margin:5px 15px;" })
        }

    </div>

    <div class=" list-item padding">

        <table class="table table-bordered  table-striped">
            <thead>
                <tr>
                    <th class="nowrap">编号</th>
                    <th class="nowrap">任务名</th>
                    <th class="nowrap">手机</th>
                    <th class="nowrap">姓名</th>
                    <th class="nowrap">主管</th>
                    <th class="nowrap">组长</th>
                    <th class="nowrap">话务员</th>
                    <th class="nowrap">完成度</th>
                    <th class="nowrap">状态</th>
                    <th class="nowrap">日期</th>
                    <th class="nowrap">操作</th>
                </tr>
            </thead>

            @foreach (var item in Model)
            {
                <tr class="">
                    <td class=" ">@item.IID</td>
                    <td class=" ">@item.TaskName</td>
                    <td class="tc phoneInfo">@(item.Phone)</td>
                    <td class="">@(item.Name)</td>
                    <td class="thisAdmin">@item.Director</td>
                    <td class="thisAdmin">@item.GroupLeader</td>
                    <td class="thisAdmin">@item.AdminId</td>
                    <td class="@(item.TaskCompleted ? "text-green" : "")">@(item.TaskCompleted ? "已完成" : "未完成")</td>
                    <td class="">@item.SuccesStatus</td>
                    <td class="">@(item.CreateTime)</td>
                    <td class="">
                        <a href="javascript:;" data-iid="@item.IID" data-bind="click:QueryReview">查看回访</a>
                        <a href="javascript:;" data-gid="@item.GID" data-bind="click:DeleteTask">删除</a>
                    </td>
                </tr>
                <tr style="display:none;">
                    <td colspan="12">
                        <table class="table table-bordered">
                            <tr>
                                <th class="col-xs-2">回访人</th>
                                <th class="col-xs-4">备注</th>
                                <th class="col-xs-2">回访方式</th>
                                <th class="col-xs-2">时间</th>
                                <th class="col-xs-2">操作</th>
                            </tr>

                            @foreach (var subItem in item.CustomerReviewViewCollection)
                            {
                                <tr>
                                    <td class="col-xs-2 thisAdmin">@subItem.AdminId</td>
                                    <td class="col-xs-4">@subItem.Mark</td>
                                    <td class="col-xs-2 thisMode">@subItem.ReviewMode</td>
                                    <td class="col-xs-2">@subItem.CreateTime</td>
                                    <td class="col-xs-2"><a href="javascript:;" data-gid="@subItem.GID" data-bind="click:CustomerReviewDelete">删除</a></td>
                                </tr>
                            }
                        </table>
                    </td>
                </tr>
            }

        </table>
        @Html.PagedListPager(Model, page => Url.Action(ViewContext.RouteData.Values["action"].ToString(), new
   {
       name = ViewBag.name,
       complete = ViewBag.complete,
       op = ViewBag.op,
       taskmainiid =ViewBag.taskmainiid,
       pageIndex = page
   }),
            new PagedListRenderOptions
            {
                LinkToFirstPageFormat = "<span class='glyphicon glyphicon-fast-backward'></span>",
                LinkToPreviousPageFormat = "<span class='glyphicon glyphicon-backward'></span>",
                LinkToNextPageFormat = "<span class='glyphicon glyphicon-forward'></span>",
                LinkToLastPageFormat = "<span class='glyphicon glyphicon-fast-forward'></span>",
                DisplayPageCountAndCurrentLocation = true,
                PageCountAndCurrentLocationFormat = "当前第 {0} 页/共 {1} 页",
                DisplayItemSliceAndTotal = true,
                ItemSliceAndTotalFormat = "共{2}条记录,显示第{0}-{1}条"
            })
        <div class="action text-center">
        </div>
    </div>

</div>


@section scripts{
    <script src="~/Scripts/plugins/LMSoft/ko.popUp.js"></script>
    <script src="~/Scripts/app/shared/dialog/_PopupModal.js"></script>
    <script src="~/Scripts/plugins/LMSoft/ko.renderTemplateX.js"></script>
    <script src="~/Scripts/plugins/LMSoft/ko.select2 2.0.js"></script>
    <script src="~/Scripts/plugins/layer-v3.0.3/layer/layer.js"></script>
    <script src="~/Scripts/app/appBase.js"></script>
    <script src="~/Scripts/app/admin/Customer/Customer.js"></script>
    <script type="text/javascript">
        $(function () {

           var complete=@ViewBag.complete;
            //管理员名加载
            $(".thisAdmin").each(function (index, item) {
                var $this = $(this);
                var text = $this.text().trim();
                $.post("/service/GetadminName", { adminId: text }, function (data) {
                    $this.text(data);
                });
            });

            $(".thisMode").each(function (index, item) {
                var $this = $(this);
                var text = $this.text().trim();
                $.post("/service/GetReviewMode", { status: text }, function (data) {
                    $this.text(data);
                });
            });

            $("#complete").val(complete);

            $(".phoneInfo").each(function (index) {
                var self = $(this);
                $.post("/service/GetPhoneAddressInfo", { phone: self.text() }, function (data) {
                    self.text(self.text() + "  " + data);
                });
            });
            var adminid =@ViewBag.AdminInfo.IID;
            var op=@ViewBag.op;
            $.post("/service/GetOperatorList", { adminId: adminid }, function (data) {
                data.unshift({ id: 0, text: "请选择" });
                $("#op").select2({
                    data: data
                });
                if (op > 0)
                {
                    $("#op").val(op).trigger("change");
                }
            });
        });

        function ExportToExcel(item, e)
        {
            location.href = "/admin/customer/exporttoexcel?taskmainiid=" + $("#taskmainiid").val() + "&name=" + $("#name").val() + "&complete=" + $("#complete").val();
            console.info(location.href);
        }
        function DeleteTask(item, e)
        {
            layer.confirm("确认要删除吗，删除后不能恢复", { title: "删除确认" }, function (index) {
                layer.close(index);
                $.post("/admin/customer/DeleteTask", { gid: $(e.currentTarget).data("gid") }, function (data) {
                    layer.alert(data, {
                        title: "删除操作",
                        btn: ['确定']
                    },
                        function (index, item) {
                            //layer.close(index);
                            if (data == "删除成功")
                            {
                                location.reload();
                            }
                            else
                            {
                                layer.close(index);
                            }

                        });
                });
            });
        }

    </script>
}
<script type="text/html" id="tmpl_blank">
</script>





