@model LMSoft.CMS.Models.DailyLog
@using SXF.Utils;

@{

    ViewBag.Title = "添加日志";


}
@{
    Layout = "_work.cshtml";
}
@section pageStyle{


}

<div class=" list">
    <div class="list-item padding">
        @using (Html.BeginForm(ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["Controller"].ToString(), FormMethod.Post, new { @class = "form-inline", id = "search_form", role = "form", style = "" }))
        {

            @Html.AntiForgeryToken()
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div>

                <div class="form-group col-md-12 margin-bottom-10">
                    <label class="col-sm-1 control-label text-right">标题</label>
                    <div class="col-sm-6">
                        @Html.TextBoxFor(m => m.Title, new { @class = "form-control",style="width:500px;" })
                        @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })
                    </div> 
                </div>
                <div class="form-group col-md-12 margin-bottom-10">
                     
                    <label class="col-sm-1 control-label text-right">内容</label>
                    <div class="col-sm-8" id="editor">
                        <p>欢迎使用 <b>wangEditor</b> 富文本编辑器</p>
                    </div>
                </div>
                 
                <div class="form-group col-md-12 margin-bottom-10">
                    <input type="submit" value="保存" class="btn btn-primary btn-sm" id="ueForm" />
                    @Html.HiddenFor(m => m.Content)
                    @Html.HiddenFor(m=>m.GID)
                </div>
            </div>
        }
    </div>

</div>

@section scripts{
    <script src="~/Scripts/app/shared/dialog/_PopupModal.js"></script>
    <script src="~/Scripts/plugins/plupload/js/plupload.full.min.js"></script>
    <script src="~/Scripts/app/shared/uploadfile.js"></script>
    <script src="~/Scripts/app/appBase.js"></script>
    <script src="~/Scripts/app/admin/library/library.js"></script>
    <script type="text/javascript" src="~/Scripts/plugins/wangEditor/wangEditor.min.js"></script> 

    <script type="text/javascript">
        var E = window.wangEditor;
        var editor = new E('#editor');
        // 配置服务器端地址
        //editor.customConfig.uploadImgServer = '/gallery/images';
        editor.create();
        editor.txt.html($("#Content").val());
        document.getElementById('ueForm').addEventListener('click', function () {
            // 读取 html
            //console.info(editor.txt.html());
            $("#Content").val(editor.txt.html());
        }, false)
    </script>

}
<script type="text/html" id="tmpl_blank">
</script>




