@model  LMCMS.Areas.Admin.Controllers.UserManagerViewModel
@using PagedList.Mvc;
@{
    ViewBag.Title = "角色用户管理";
}
@{
    Layout = "_UserAdmin.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <div class="list">
            <div class="list-item">
                <div class="list-content">
                    
                    <table class="table table-bordered">

                        <tr class="heading">
                            <th>
                                角色代码
                            </th>
                            <th>
                                角色名
                            </th>
                            <th>
                                备注
                            </th>
                            <th>操作</th>
                        </tr>

                        @foreach (var item in Model.Roles)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem=>item.Description)
                                </td>
                                <td class="text-center">
                                    @Html.ActionLink("添加用户", "AddUserRole", new { id = item.Id }) |
                                    @Html.ActionLink("移除用户", "DeleteUserRole", new { id = item.Id })
                                     
                                </td>
                            </tr>
                        }
                    </table>
                    
                </div>
            </div>
        </div>
    </div>
    
</div>
@section scripts{
    <script src="~/Scripts/plugins/LMSoft/ko.popUp.js"></script>
    <script src="~/Scripts/app/shared/dialog/_PopupModal.js"></script>
    <script src="~/Scripts/plugins/LMSoft/ko.renderTemplateX.js"></script>
    <script src="~/Scripts/plugins/LMSoft/ko.select2 2.0.js"></script>
    <script src="~/Scripts/plugins/datetime.js"></script>
    <script src="~/Scripts/app/admin/company/company.js"></script>
    <script src="~/Scripts/app/appBase.js"></script>
    <script type="text/javascript">

    </script>

}
<script type="text/html" id="tmpl_blank">
</script>

 
@Html.Partial("~/Views/Shared/dialog/_PopupModal.cshtml")
